services:
  - type: web
    name: labloom-api
    env: node
    buildCommand: npm install && npm run generate:swagger
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: SWAGGER_SERVER_URL
        sync: false
